[defaults]
#stdout_callback = minimal
# або
#stdout_callback = oneline
#stdout_callback = yaml
# stdout_callback = default
#stdout_callback = dense
#stdout_callback = minimal

stdout_callback = default
callbacks_enabled = timer, profile_tasks
nocows = 1
timeout = 5

[ssh_connection]
ssh_args = -o ConnectTimeout=5 -o ConnectionAttempts=1 -o StrictHostKeyChecking=no